<div class="min-h-screen bg-blue-800 p-8">
  <div class="mx-auto bg-white rounded-xl shadow-xl h-56 w-80">
    <!-- Position the square on the top-right of the card,
    with a negative offset (top + right) of `0.5rem`. -->
    <div class="bg-amber-300 w-32 h-32"></div>
  </div>
</div>
