<div class="min-h-screen bg-blue-800 p-8">
  <div class="relative mx-auto bg-white rounded-xl shadow-xl h-56 w-80">
    <div class="bg-amber-100 w-32 h-32 absolute -top-2 -right-2">
      <!-- Add some styles to the ribbon banner. No guidelines here, 
      make it look like you want! -->
      <a
        href="#"
        class="bg-amber-300 block w-square-diagonal text-center absolute bottom-0 right-0 rotate-45 origin-bottom-right"
      >
        My cool ribbon
      </a>
    </div>
  </div>
</div>
