---
import Layout from '~layouts/base.astro'
import ContainerQueries from '~tips/container-queries/index.astro'

export const title = 'Data Attributes'
---

<Layout>
  <div class="min-h-screen bg-slate-100 p-4">
    <ContainerQueries />
  </div>
</Layout>
