---
import Layout from '~layouts/base.astro'
import DataAttributes from '~tips/data-attributes/index.astro'

export const title = 'Data Attributes'
---

<Layout>
  <div class="m-8 grid gap-4">
    <DataAttributes />
  </div>
</Layout>
