<div class="m-8">
  <!-- 
    TODO:
    Note the "stripes" class in our div below.
    This is not a Tailwind CSS class, but 
    a custom one.

    Using a CSS `linear-gradient()`, implement
    diagonal, repeating black stripes
    inside that element, without
    touching the HTML below.
   -->
  <div class="stripes h-16 w-56 rounded-lg bg-pink-600"></div>
</div>
