<div class="m-8 grid gap-4">
  <div class="flex flex-wrap gap-4">
    <div class="stripes h-16 w-20 rounded-lg border-4 border-black"></div>
    <div class="stripes h-16 w-20 rounded-lg border-4 border-black stripes-color-[250_130_240]">
    </div>
  </div>
</div>
