<div class="m-8">
  <!-- 
    TODO:
    Add some animation to the stripes!
    
    They should `translateX` by 20px over a duration
    of 1 second, repeating the animation 
    infinitely in a linear way.
   -->
  <div class="stripes h-16 w-56 rounded-lg bg-pink-600"></div>
</div>
