<div class="grid min-h-screen place-items-center bg-cyan-500">
  <div
    class="fixed inset-0 hidden grid-cols-[minmax(theme(padding.8),1fr),theme(width.56),minmax(0,calc(theme(maxWidth.2xl)-theme(width.56)-(theme(padding.8)*2))),minmax(theme(padding.8),1fr)] min-[480px]:grid"
  >
    <div class="bg-cyan-400"></div>
    <div class="bg-cyan-500"></div>
    <div class="bg-cyan-600"></div>
    <div class="bg-cyan-700"></div>
  </div>
  <div class="isolate mx-auto w-full max-w-2xl px-8">
    <div
      class="grid h-80 overflow-hidden rounded-2xl shadow-2xl min-[480px]:grid-cols-[theme(width.56),1fr]"
    >
      <aside class="bg-slate-100"></aside>
      <main class="bg-white"></main>
    </div>
  </div>
</div>
