<div class="m-8 grid gap-4">
  <div class="flex flex-wrap gap-4">
    <div class="stripes-size-sm stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
    <div class="stripes-size-lg stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
    <div class="stripes-size-xl stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
    <div class="stripes-size-[99px] stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
  </div>
</div>
