<div class="m-8 grid gap-4">
  <div class="flex flex-wrap gap-4">
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white stripes-size-sm"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white stripes-size-lg"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white stripes-size-xl"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-white stripes-size-[99px]"></div>
  </div>
</div>
