<div class="m-8 grid gap-4">
  <!-- "Default" stripes -->
  <div class="stripes h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- White stripes -->
  <div class="stripes stripes-white h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- Inverted stripes -->
  <div class="stripes stripes-reverse h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- Inverted & white stripes -->
  <div class="stripes stripes-reverse stripes-white h-16 w-56 rounded-lg bg-pink-600"></div>
</div>
