---
import Layout from '~layouts/base.astro'
---

<Layout>
  <div class="max-w 3xl mx-auto px-4 mt-12">
    <h1>Pro Tailwind Tutorials</h1>
    <ul class="mt-8">
      <li>
        <a class="underline hover:text-indigo-600" href="/tutorials/ribbon-banner">Ribbon Banner</a>
      </li>
    </ul>
  </div>
</Layout>
