<div class="m-8">
  <!-- 
    This is not a lesson/challenge, but if you want to practice
    making CSS linear gradients, the `gradient-demo` is
    ready to use in the `./tailwind.css` file.
  -->
  <div class="gradient-demo h-16 w-32 rounded-lg bg-pink-600"></div>
</div>
