---
import Layout from '~layouts/base.astro'
import Ribbons from '~tutorials/ribbon-banner/09-solution.astro'

export const title = '09 - Solution'
---

<Layout>
  <div class="min-h-screen bg-blue-800 p-8">
    <div class="relative mx-auto bg-white rounded-xl shadow-xl h-72 w-80">
      <Ribbons />
    </div>
  </div>
</Layout>
