<div class="m-8 grid gap-4">
  <!-- 
    TODO:
    Port the animated stripes CSS to a Tailwind plugin.

    There is a `./stripes-plugin.cjs` file ready for you.
    It's already required in the `./tailwind.config.cjs`!
   -->

  <!-- "Default" stripes -->
  <div class="stripes h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- White stripes -->
  <div class="stripes stripes-white h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- Inverted stripes -->
  <div class="stripes stripes-reverse h-16 w-56 rounded-lg bg-pink-600"></div>
  <!-- Inverted & white stripes -->
  <div class="stripes stripes-reverse stripes-white h-16 w-56 rounded-lg bg-pink-600"></div>
</div>
