@config './tailwind.config.cjs';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(20px);
    }
  }

  /* Setting default stripe options */
  :root {
    --stripes-color: black;
    --stripes-angle: -45deg;
  }
}

@layer components {
  .stripes {
    position: relative;
    overflow: hidden;
  }

  .stripes > * {
    isolation: isolate;
  }

  .stripes:before {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% + 20px);
    content: '';
    background-image: linear-gradient(
      var(--stripes-angle),
      var(--stripes-color) 5%,
      transparent 5% 45%,
      var(--stripes-color) 45% 55%,
      transparent 55% 95%,
      var(--stripes-color) 95%
    );
    background-size: 20px 20px;
    animation: slide 1s infinite linear;
  }
}

@layer utilities {
  .stripes-white {
    --stripes-color: white;
  }
  .stripes-reverse {
    --stripes-angle: 45deg;
  }
}
