<div class="space-y-12">
  <div class="grid gap-6 sm:grid-cols-3">
    <!-- Card -->
    <div class="@container">
      <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
        <div class="@xl:flex h-full">
          <div class="@xl:shrink-0">
            <img
              class="h-40 w-full object-cover @xl:h-full @xl:w-40"
              src="/images/mountain.jpg"
              alt="Modern building architecture"
            />
          </div>
          <div class="p-8">
            <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
              Container queries
            </div>
            <a
              href="#"
              class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
              >New first-party Tailwind CSS plugin</a
            >
            <p class="mt-2 text-slate-500">
              Container queries are coming. Browser support is getting real close, start
              experimenting!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="@container">
      <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
        <div class="@xl:flex h-full">
          <div class="@xl:shrink-0">
            <img
              class="h-40 w-full object-cover @xl:h-full @xl:w-40"
              src="/images/mountain.jpg"
              alt="Modern building architecture"
            />
          </div>
          <div class="p-8">
            <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
              Container queries
            </div>
            <a
              href="#"
              class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
              >New first-party Tailwind CSS plugin</a
            >
            <p class="mt-2 text-slate-500">
              Container queries are coming. Browser support is getting real close, start
              experimenting!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="@container">
      <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
        <div class="@xl:flex h-full">
          <div class="@xl:shrink-0">
            <img
              class="h-40 w-full object-cover @xl:h-full @xl:w-40"
              src="/images/mountain.jpg"
              alt="Modern building architecture"
            />
          </div>
          <div class="p-8">
            <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
              Container queries
            </div>
            <a
              href="#"
              class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
              >New first-party Tailwind CSS plugin</a
            >
            <p class="mt-2 text-slate-500">
              Container queries are coming. Browser support is getting real close, start
              experimenting!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid gap-6 sm:grid-cols-2">
    <!-- Card -->
    <div class="@container">
      <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
        <div class="@xl:flex h-full">
          <div class="@xl:shrink-0">
            <img
              class="h-40 w-full object-cover @xl:h-full @xl:w-40"
              src="/images/mountain.jpg"
              alt="Modern building architecture"
            />
          </div>
          <div class="p-8">
            <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
              Container queries
            </div>
            <a
              href="#"
              class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
              >New first-party Tailwind CSS plugin</a
            >
            <p class="mt-2 text-slate-500">
              Container queries are coming. Browser support is getting real close, start
              experimenting!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card -->
    <div class="@container">
      <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
        <div class="@xl:flex h-full">
          <div class="@xl:shrink-0">
            <img
              class="h-40 w-full object-cover @xl:h-full @xl:w-40"
              src="/images/mountain.jpg"
              alt="Modern building architecture"
            />
          </div>
          <div class="p-8">
            <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
              Container queries
            </div>
            <a
              href="#"
              class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
              >New first-party Tailwind CSS plugin</a
            >
            <p class="mt-2 text-slate-500">
              Container queries are coming. Browser support is getting real close, start
              experimenting!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card -->
  <div class="mx-auto max-w-2xl overflow-hidden rounded-xl bg-white shadow-md">
    <div class="sm:flex h-full">
      <div class="sm:shrink-0">
        <img
          class="h-40 w-full object-cover sm:h-full sm:w-40"
          src="/images/mountain.jpg"
          alt="Modern building architecture"
        />
      </div>
      <div class="p-8">
        <div class="text-sm font-semibold uppercase tracking-wide text-sky-500">
          Container queries
        </div>
        <a
          href="#"
          class="@ mt-1 block text-lg font-medium leading-tight text-black hover:underline"
          >New first-party Tailwind CSS plugin</a
        >
        <p class="mt-2 text-slate-500">
          Container queries are coming. Browser support is getting real close, start experimenting!
        </p>
      </div>
    </div>
  </div>
</div>
