<div class="m-8 grid gap-4">
  <!-- Black stripes -->
  <div class="flex flex-wrap gap-4">
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-75"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-50"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-25"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-[0.233334]"></div>
  </div>

  <!-- White stripes -->
  <div class="flex flex-wrap gap-4 stripes-white">
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-75"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-50"></div>
    <div class="stripes h-16 w-20 rounded-lg bg-pink-600 stripes-opacity-25"></div>
  </div>
</div>
